.modal-content {
  padding-top: 50px;
  width: 100%;
  height: 50vh;
  position: absolute;
  padding-left: 100px;
}
.content {
  background-color: black;
  justify-content: center;
  width: 1000px;
  height: 50vh;

}
h5 {
  padding-top: 15px;
  color: white;
  border-bottom: orange 1px solid;
  font-size: 50px;
}

.header {
  display: flex;
  justify-content: center;
}
.modal-body {
  color: white;
  padding-left: 50px;
}

button {
  background-color: orange;
}

.button {
  float: right;
}

.modal-foot {
  display: flex;
  justify-content: center;
}
